<form method="post" class="d-inline" action="{{ path('backend_invoice_item_delete', {'id': item.id}) }}"
      onsubmit="return confirm('Tem a certeza que pretende eliminar este item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    <button class="btn btn-danger btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-trash"></i>
        </span>
    </button>
</form>